<aside class="col-lg-3 docs-sidebar" id="docsSidebar">
  <h2 class="space-icon d-lg-none text-center" id="docsSidebarToggle"><i
      class="fas fa-book"
    ></i>
    SEARCH &amp; CONTENTS</h2>

  <div class="docs-top-nav">
    <a href="/docs">
      <div class="docs-back-button">
        <i class="fad fa-arrow-square-left"></i>
      </div>
      Ethereum & EVM-based chains
    </a>
  </div>

  <div class="docs-wrapper">

    <form class="mb-4" id="searchForm">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="searchInput"
          placeholder="Search"
        />
        <div class="input-group-append">
          <button type="submit" class="btn btn-truffle">SEARCH</button>
        </div>
      </div>
    </form>

    <a class="toggle-teams suite-link" href="#teamsDocs" data-toggle="collapse">
      <img
        class="suite-logo"
        src="/img/tt-logomark.svg"
        alt="Truffle Teams Logo"
      /><h2 class="text-truffle">TRUFFLE TEAMS</h2>
    </a>

    <div
      class="collapse teams {{showDocsCategory path "teams"}}"
      id="teamsDocs"
      data-parent="#docsSidebar"
    >
      <ul>
        <a href="/docs/teams/overview"><li>Overview</li></a>
        <a href="/docs/teams/quickstart"><li>Quickstart</li></a>
      </ul>
      {{#each docs.teams as |categoryDocs category|}}
        <h3>{{category}}</h3>
        <ul>
          {{#each categoryDocs}}
            <a href="/docs/teams/{{makeSlug category}}/{{makeSlug this}}"><li
              >{{this}}</li></a>
          {{/each}}
        </ul>
      {{/each}}
    </div>

    <a
      class="toggle-truffle suite-link"
      href="#truffleDocs"
      data-toggle="collapse"
    >
      <img
        class="suite-logo"
        src="/img/truffle-logomark.svg"
        alt="Truffle Logo"
      /><h2 class="text-truffle"><span class="narrow">T</span>RUFFLE</h2>
    </a>

    <div
      class="collapse truffle {{showDocsCategory path "truffle"}}"
      id="truffleDocs"
      data-parent="#docsSidebar"
    >
      <ul>
        <a href="/docs/truffle/overview"><li>Overview</li></a>
        <a href="/docs/truffle/quickstart"><li>Quickstart</li></a>
      </ul>
      {{#each docs.truffle as |categoryDocs category|}}
        <h3>{{category}}</h3>
        <ul>
          {{#each categoryDocs}}
            <a href="/docs/truffle/{{makeSlug category}}/{{makeSlug this}}"><li
              >{{this}}</li></a>
          {{/each}}
        </ul>
      {{/each}}
      <h3>Guides</h3>
      <ul>
        <a href="/guides/debugging-an-example-smart-contract"><li>Debugging a
            smart contract</li></a>
        <a href="/guides/debugger-variable-inspection"><li>Variable Inspection:
            Going Deeper with the Truffle Solidity Debugger</li></a>
        <a href="/guides/using-infura-custom-provider"><li>Using Infura (or a
            custom provider)</li></a>
        <a href="/guides/deploying-to-the-live-network"><li>Deploying to the
            Live Network</li></a>
        <a href="/guides/creating-a-cli-with-truffle-3"><li>Creating an
            Ethereum-enabled command line tool with Truffle 3.0</li></a>
      </ul>
    </div>

    <a
      class="toggle-ganache suite-link"
      href="#ganacheDocs"
      data-toggle="collapse"
    >
      <img
        class="suite-logo"
        src="/img/ganache-logomark.svg"
        alt="Ganache Logo"
      /><h2 class="text-ganache">Ganache</h2>
    </a>

    <div
      class="collapse ganache {{showDocsCategory path "ganache"}}"
      id="ganacheDocs"
      data-parent="#docsSidebar"
    >
      <ul>
        <a href="/docs/ganache/overview"><li>Overview</li></a>
        <a href="/docs/ganache/quickstart"><li>Quickstart</li></a>
      </ul>
      {{#each docs.ganache as |categoryDocs category|}}
        <h3>{{category}}</h3>
        <ul>
          {{#each categoryDocs}}
            <a href="/docs/ganache/{{makeSlug category}}/{{makeSlug this}}"><li
              >{{this}}</li></a>
          {{/each}}
        </ul>
      {{/each}}
      <h3>Guides</h3>
      <ul>
        <a href="/guides/debugging-an-example-smart-contract"><li>Debugging an
            example smart contract</li></a>
        <a href="/guides/debugger-variable-inspection"><li>Variable Inspection:
            Going Deeper with the Truffle Solidity Debugger</li></a>
      </ul>
    </div>

    <a
      class="toggle-drizzle suite-link"
      href="#drizzleDocs"
      data-toggle="collapse"
    >
      <img
        class="suite-logo"
        src="/img/drizzle-logomark.svg"
        alt="Drizzle Logo"
      /><h2 class="text-drizzle">dri<span class="drizzle-z-skew-1">z</span><span
          class="drizzle-z-skew-2"
        >z</span>le</h2>
    </a>

    <div
      class="collapse drizzle {{showDocsCategory path "drizzle"}}"
      id="drizzleDocs"
      data-parent="#docsSidebar"
    >
      <ul>
        <a href="/docs/drizzle/overview"><li>Overview</li></a>
        <a href="/docs/drizzle/quickstart"><li>Quickstart</li></a>
      </ul>
      {{#each docs.drizzle as |categoryDocs category|}}
        <h3>{{category}}</h3>
        <ul>
          {{#each categoryDocs}}
            <a href="/docs/drizzle/{{makeSlug category}}/{{makeSlug this}}"><li
              >{{this}}</li></a>
          {{/each}}
        </ul>
      {{/each}}
      <h3>Guides</h3>
      <ul>
        <a href="/guides/drizzle-and-contract-events"><li>Drizzle and Contract
            Events</li></a>
        <a href="/guides/getting-started-with-drizzle-and-react"><li>Getting
            Started with Drizzle and React</li></a>
      </ul>
    </div>
  </div>
</aside>