<aside class="col-lg-3 docs-sidebar" id="docsSidebar">
  <h2 class="space-icon d-lg-none text-center" id="docsSidebarToggle"><i class="fas fa-book"></i> SEARCH &amp; CONTENTS</h2>

  <div class="docs-top-nav">
    <a href="/docs">
      <div class="docs-back-button">
        <i class="fad fa-arrow-square-left"></i>
      </div>
      Filecoin
    </a>
  </div>

  <div class="docs-wrapper">

    <form class="mb-4" id="searchForm">
      <div class="input-group">
        <input type="text" class="form-control" id="searchInput" placeholder="Search">
        <div class="input-group-append">
          <button type="submit" class="btn btn-truffle">SEARCH</button>
        </div>
      </div>
    </form>

    <a class="toggle-truffle suite-link" href="#truffleDocs" data-toggle="collapse">
      <img class="suite-logo" src="/img/truffle-logomark.svg" alt="Truffle Logo" /><h2 class="text-truffle"><span class="narrow">T</span>RUFFLE</h2>
    </a>

    <div class="collapse truffle {{showDocsCategory path "truffle"}}" id="truffleDocs" data-parent="#docsSidebar">
      <ul>
        <a href="/docs/filecoin/truffle/quickstart"><li>Quickstart</li></a>
      </ul>
      {{#each docs.filecoin.truffle as |categoryDocs category|}}
        <h3>{{ category }}</h3>
        <ul>
          {{#each categoryDocs}}
            <a href="/docs/filecoin/truffle/{{makeSlug category}}/{{makeSlug this}}"><li>{{ this }}</li></a>
          {{/each}}
        </ul>
      {{/each}}
    </div>

    <a class="toggle-ganache suite-link" href="#ganacheDocs" data-toggle="collapse">
      <img class="suite-logo" src="/img/ganache-logomark.svg" alt="Ganache Logo" /><h2 class="text-ganache">Ganache</h2>
    </a>

    <div class="collapse ganache {{showDocsCategory path "ganache"}}" id="ganacheDocs" data-parent="#docsSidebar">
      <ul>
        <a href="/docs/filecoin/ganache/overview"><li>Overview</li></a>
      </ul>
      {{#each docs.filecoin.ganache as |categoryDocs category|}}
        <h3>{{ category }}</h3>
        <ul>
          {{#each categoryDocs}}
            <a href="/docs/filecoin/ganache/{{makeSlug category}}/{{makeSlug this}}"><li>{{ this }}</li></a>
          {{/each}}
        </ul>
      {{/each}}
    </div>

  </div>

</aside>