<section class="LandingPage">
  <header>
    <%- include _includes/landing_page/header %>
    <%- include _includes/landing_page/pitch %>
  </header>
  <%- include _includes/landing_page/beta_signup %>
  <%- include _includes/landing_page/features%>
  <%- include _includes/landing_page/tutorials%>
  <%- include _includes/landing_page/contributing%>
  <%- include _includes/landing_page/notable_users%>
  <%- include _includes/landing_page/built_with%>
  <%- include _includes/landing_page/footer%>
</section>
