<header>
  <% include ../_includes/navbar %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
        <div class="Logo">
          <% include ../images/suite/ganache/ganache_logo.svg %>
        </div>
        <h1 class="text-center">THE DELICIOUS WAY TO <br /> DEVELOP BLOCKCHAIN SOLUTIONS</h1>
        <p class="text-muted">Quickly fire up a personal Ethereum blockchain which you can use to run tests, execute commands, and inspect state while controlling how the chain operates.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="PosRel">
      <div class="Foil"></div>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-12 col-md-8 col-md-offset-2 m-t-2 text-center">
            <p class="DownloadVersions">For macOS, Windows &amp; Linux</p>
            <a class="DownloadButton" href="https://github.com/trufflesuite/ganache">Download Now</a>
          </div>
          <img class="img-responsive m-t-3" src="/images/suite/ganache/ganache_screenshot.png" />
          <h5 class="text-center text-muted m-b-3">THE BEST CROSS PLATFORM ETHEREUM DEVELOPMENT SERVER. AND IT'S FREE.</h5>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="Features container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <h2 class="m-t-4 m-b-4">THE SWEET FEATURES AT THE CORE OF GANACHE</h2>
      <span class="Flourish m-b-4">
        <% include ../images/suite/ganache/header_flourish.svg %>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5 class="m-b-4">THE MENU</h5>
      <ol class="FeatureList list-unstyled">
        <li>
          <div class="FeatureText">
            <h4>THE ETHEREUM BLOCKCHAIN ON YOUR DESKTOP</h4>
            <p>GANACHE ships with an internal Javascript implementation of the Ethereum Blockchain which has additional programmatic capabilities - no local clients need to be installed! </p>
          </div>
          <div class="FeatureIcon">
            <% include ../images/suite/ganache/ethereum_ico.svg %>
          </div>
        </li>
        <li>
          <div class="FeatureText">
            <h4>VISUAL MNEMONIC &amp; ACCOUNT INFO</h4>
            <p>Quickly see the  current status of the generated accounts, including their  addresses, private keys, nonces and balances.</p>
          </div>
          <div class="FeatureIcon">
            <% include ../images/suite/ganache/account_info.svg %>
          </div>
        </li>
        <li>
          <div class="FeatureText">
            <h4>BLOCKCHAIN LOG OUTPUT</h4>
            <p>See the output of web3 calls to the blockchain, along with responses and other vital debugging info.</p>
          </div>
          <div class="FeatureIcon">
            <% include ../images/suite/ganache/log_output.svg %>
          </div>
        </li>
        <li>
          <div class="FeatureText">
            <h4>INSTANT MINING CONTROLS</h4>
            <p>Stop, start, force mine a single block, and take or revet multiple snapshots of the blockchain as and when you chose.</p>
          </div>
          <div class="FeatureIcon">
            <% include ../images/suite/ganache/mining_controls.svg %>
          </div>
        </li>
        <li>
          <div class="FeatureText">
            <h4>BUILT IN BLOCK EXPLORER</h4>
            <p>Examine specific blocks or transactions at will and see detailed information about the parameters.</p>
          </div>
          <div class="FeatureIcon">
            <% include ../images/suite/ganache/block_explorer.svg %>
          </div>
        </li>
        <li>
          <div class="FeatureText">
            <h4>BLOCKCHAIN CONNECTED REPL</h4>
            <p>Complete access to a Node.js powered REPL that you can execute commands in, have full access to an initialize web3 object, and many useful commands to make development testing easier.</p>
          </div>
          <div class="FeatureIcon">
            <% include ../images/suite/ganache/repl.svg %>
          </div>
        </li>
      </ol>
      <a class="DownloadButton" href="https://github.com/trufflesuite/ganache">Download Now</a>
    </div>
  </div>
</section>
<section class="OpenSource container text-center">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h2 class="text-center">LIKE THE TASTE? THE RECIPE IS OPEN SOURCE!</h2>
      <span class="Flourish m-b-4">
        <% include ../images/suite/ganache/header_flourish.svg %>
      </span>
      <% include ../images/suite/ganache/gh_logo.svg %>
      <h4>FULL SOURCE CODE ON GITHUB</h4>
      <p>We welcome any and all contributions, and feature suggestions! <a href="https://github.com/trufflesuite/ganache">Please checkout the source code.</a></p>
    </div>
  </div>
</section>

<section class="BuiltWith m-t-4">
  <div class="container-fluid">
    <div class="row">
      <div class="Left col-xs-12 col-md-4 p-a-4">
        <h3 class="WithDash m-b-4">DESIGNED &amp; BUILT IN THE WILD PACIFIC NORTH WEST BY THIS GUY</h3>
        <ol class="list-unstyled list-inline text-center">
          <li><img src="/images/john_face.png"/> <h5>JOHN MCDOWALL</h5></li>
        </ol>
        <div class="Flourish hidden-sm hidden-xs">
          <%- include ../images/suite/ganache/flourish_divider.svg %>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 p-a-4">
        <h3 class="WithDash m-b-4">PART OF THE TRUFFLE SUITE OF DAPP DEVELOPMENT TOOLS</h3>
        <div class="Logo">
          <%- include ../_includes/truffle_logo %>
        </div>
        <div class="Flourish hidden-sm hidden-xs">
          <%- include ../images/suite/ganache/flourish_divider.svg %>
        </div>
      </div>
      <div class="Right col-xs-12 col-md-4 p-a-4">
        <h3 class="WithDash m-b-4">DEVELOPMENT IS PROUDLY SPONSORED BY CONSENSYS IN NYC</h3>
        <section class="Logo text-center">
          <%- include ../_includes/consensys_logo.svg %>
        </section>
      </div>
    </div>
  </div>
</section>
<section class="Footer p-t-4 ">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-2">
        <div class="Logo">
          <%- include ../_includes/truffle_logo %>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/support">Support</a></li>
          <li><a href="/tutorials">Tutorials</a></li>
          <li><a href="/community">Community</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="<%= service.github %>">Github</a></li>
          <li><a href="<%= service.twitter %>">Twitter</a></li>
        </ul>
        <strong>A CONSENSYS FORMATION &copy; 2017</strong>
        <strong>DESIGN BY JOHN MCDOWALL</strong>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="BetaSignup">
        <h5>SIGN UP FOR THE TRUFFLE MAILING LIST</h5>
        <div id="mc_embed_signup">
          <form action="//readthedocs.us14.list-manage.com/subscribe/post?u=563e4b50100f771d2d17cf7a5&amp;id=b754a8ab50" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <div class='FormWrapper'>
                  <div class="mc-field-group">
                    <label for="mce-FNAME">First Name </label>
                    <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                  </div>

                  <div class="mc-field-group">
                    <label for="mce-EMAIL">Your Email Address</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_563e4b50100f771d2d17cf7a5_b754a8ab50" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
              </div>
            </form>
        </div>
      </div>
      </div>
    </div>
    <div class="GhostText">
    <% include ../_includes/footer_ghost_text.svg %>
  </div>
  </div>
</section>
