<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Truffle Suite | Documentation | Search Results</title>

    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans|Oswald|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    {{> navbar}}
    
    <main role="main" class="container-fluid">
      <!--<div class="row pt-4 pb-4">
        <div class="col">
          <form>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ðŸ” Search">
              </div>
              <div class="col">
                <select id="inputState" class="form-control">
                  <option selected>4.1</option>
                  <option>4.0.6</option>
                  <option>4.0.5</option>
                </select>
              </div>
              <div class="col">
                <button type="submit" class="btn btn-truffle">SEARCH</button>
              </div>
            </div>
          </form>
        </div>
      </div>-->

      <div class="row row-docs-main">
        <aside class="col-md-3 docs-sidebar" id="docsSidebar">
          <form class="mb-4 mt-4" id="searchForm">
            <div class="input-group">
              <input type="text" class="form-control" id="searchInput" placeholder="Search">
              <div class="input-group-append">
                <button type="submit" class="btn btn-truffle">SEARCH</button>
              </div>
            </div>
          </form>

          <a class="suite-link" href="/docs">
            <img class="suite-logo" src="/img/suite-logo-light.svg" alt="Truffle Suite Logo" /><h2>HOME</h2>
          </a>

          <a class="toggle-truffle" href="#truffleDocs" data-toggle="collapse">
            <img class="suite-logo" src="/img/truffle-logomark.svg" alt="Truffle Logo" /><h2 class="text-truffle">TRUFFLE</h2>
          </a>

          <div class="collapse truffle" id="truffleDocs" data-parent="#docsSidebar">
            <ul>
              <a href="/docs/truffle/overview"><li>Overview</li></a>
              <a href="/docs/truffle/quickstart"><li>Quickstart</li></a>
            </ul>
            {{#each docs.truffle as |categoryDocs category|}}
              <h3>{{ category }}</h3>
              <ul>
                {{#each categoryDocs}}
                  <a href="/docs/truffle/{{makeSlug category}}/{{makeSlug this}}"><li>{{ this }}</li></a>
                {{/each}}
              </ul>
            {{/each}}
          </div>

          <a class="toggle-ganache" href="#ganacheDocs" data-toggle="collapse">
            <img class="suite-logo" src="/img/ganache-logomark.svg" alt="Ganache Logo" /><h2 class="text-ganache">Ganache</h2>
          </a>
          
          <div class="collapse ganache" id="ganacheDocs" data-parent="#docsSidebar">
            <ul>
              <a href="/docs/ganache/overview"><li>Overview</li></a>
              <a href="/docs/ganache/quickstart"><li>Quickstart</li></a>
            </ul>
            {{#each docs.ganache as |categoryDocs category|}}
              <h3>{{ category }}</h3>
              <ul>
                {{#each categoryDocs}}
                  <a href="/docs/ganache/{{makeSlug category}}/{{makeSlug this}}"><li>{{ this }}</li></a>
                {{/each}}
              </ul>
            {{/each}}
          </div>

          <a class="toggle-drizzle" href="#drizzleDocs" data-toggle="collapse">
            <img class="suite-logo" src="/img/drizzle-logomark.svg" alt="Drizzle Logo" /><h2 class="text-drizzle">dri<span class="drizzle-z-skew-1">z</span><span class="drizzle-z-skew-2">z</span>le</h2>
          </a>
          
          <div class="collapse drizzle" id="drizzleDocs" data-parent="#docsSidebar">
            <ul>
              <a href="/docs/drizzle/overview"><li>Overview</li></a>
              <a href="/docs/drizzle/quickstart"><li>Quickstart</li></a>
            </ul>
            {{#each docs.drizzle as |categoryDocs category|}}
              <h3>{{ category }}</h3>
              <ul>
                {{#each categoryDocs}}
                  <a href="/docs/drizzle/{{makeSlug category}}/{{makeSlug this}}"><li>{{ this }}</li></a>
                {{/each}}
              </ul>
            {{/each}}
          </div>
        </aside>

        <div class="col-md-9 bd-light-cream docs-content">
          <h1>SEARCH RESULTS</h1>
          <p>Results for "<span id="searchQuery"></span>"</p>

          <div id="searchResults">
            <!-- Search results go here. -->
          </div>
        </div>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-3.2.1.slim.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/vendor/prism.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="/js/docs.js"></script>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="/js/docs-search.js"></script>
  </body>
</html>