<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Favicon -->
  <link rel="icon" href="/img/favicons/favicon.ico">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Truffle Suite">
  <link rel="icon" sizes="192x192" href="/img/favicons/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Truffle Suite">
  <link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon.png">

  <!-- Tile icon for Win8/10 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="img/favicons/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- Facebook OpenGraph -->
  <meta property="og:site_name" content="Truffle Suite" />
  <meta property="og:description" content="The Truffle suite of tools make dapp development easier and more consistent." />
  <meta property="og:title" content="Truffle Suite | {{#if parent-title}}{{ parent-title }} | {{ title }}{{else}}{{ title }}{{/if}}" />
  <meta property="og:url" content="{{getPageUrl path}}" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://trufflesuite.com/img/favicons/truffle-share.png" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="Truffle Suite" />
  <meta name="twitter:title" content="Truffle Suite | {{#if parent-title}}{{ parent-title }} | {{ title }}{{else}}{{ title }}{{/if}}" />
  <meta name="twitter:description" content="The Truffle suite of tools make dapp development easier and more consistent." />
  <meta name="twitter:creator" content="Truffle Suite" />
  <meta name="twitter:domain" content="trufflesuite.com" />
  <meta name="twitter:image:src" content="https://trufflesuite.com/img/favicons/truffle-share.png" />
  
  <meta name="google-site-verification" content="BSgPkMHzw7IxJTpEElNfD8ZZYPzXgOQiTVPzAxAG8-o" />

  {{#if parent-title}}
    <title>Truffle Suite | {{ parent-title }} | {{ title }}</title>
  {{else}}
    <title>Truffle Suite | {{ title }}</title>
  {{/if}}

  <link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans|Oswald|Varela+Round|Roboto+Condensed|Roboto+Mono|Fredericka+the+Great" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  {{> navbar}}
  
  {{{ contents }}}

  {{> footer}}

  {{> ga-tag}}
</body>
</html>