<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Truffle Suite | Tutorials | {{getMetadata "tutorials" path.name "title"}}</title>

    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans|Oswald|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    {{> navbar}}

    <main class="container container-heading container-narrow">
      <div class="row">
        <div class="col">
          <h1>{{getMetadata "tutorials" path.name "title"}}</h1>
          <ul class="list-sm-stacker space-icon mb-0">
            <li><i class="far fa-calendar-alt"></i> {{getMetadata "tutorials" path.name "date"}}&nbsp;&nbsp;&nbsp;</li>
            <li><i class="far fa-user"></i> {{getMetadata "tutorials" path.name "author"}}</li>
          </ul>
        </div>
      </div>
    </main>

    <main class="banner banner-light-cream pt-5 pb-5" role="main">
      <div class="container container-post">
        <div class="row justify-content-center">
          <div class="col">
            {{{ contents }}}
          </div>
        </div>
      </div>
    </main>

    {{> footer}}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-3.2.1.slim.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/vendor/prism.js"></script>
    <script src="/js/markdown-cleanup.js"></script>
  </body>
</html>