<!DOCTYPE html>
<html>
  <head>
    {{> ga-tag-head}}

    <meta charset="utf-8">
    <meta name="description" content="{{#if social-description}}{{ social-description }}{{else}}The Truffle suite of tools make dapp development easier and more consistent.{{/if}}">
    {{#if keywords}}<meta name="keywords" content="{{ keywords }}">{{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="icon" href="/img/favicons/favicon.ico">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Truffle Suite">
    <link rel="icon" sizes="192x192" href="/img/favicons/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Truffle Suite">
    <link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon.png">

    <!-- Tile icon for Win8/10 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="img/favicons/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- Facebook OpenGraph -->
    <meta property="og:site_name" content="Truffle Suite" />
    <meta property="og:description" content="{{#if social-description}}{{ social-description }}{{else}}The Truffle suite of tools make dapp development easier and more consistent.{{/if}}" />
    <meta property="og:title" content="Truffle Suite | {{#if parent-title}}{{ parent-title }} | {{ title }}{{else}}{{ title }}{{/if}}" />
    <meta property="og:url" content="{{getPageUrl path}}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://truffleframework.com/img/favicons/truffle-share.png" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="Truffle Suite" />
    <meta name="twitter:title" content="Truffle Suite | {{#if parent-title}}{{ parent-title }} | {{ title }}{{else}}{{ title }}{{/if}}" />
    <meta name="twitter:description" content="{{#if social-description}}{{ social-description }}{{else}}The Truffle suite of tools make dapp development easier and more consistent.{{/if}}" />
    <meta name="twitter:creator" content="Truffle Suite" />
    <meta name="twitter:domain" content="trufflesuite.com" />
    <meta name="twitter:image:src" content="https://truffleframework.com/img/favicons/truffle-share.png" />

    <meta name="google-site-verification" content="BSgPkMHzw7IxJTpEElNfD8ZZYPzXgOQiTVPzAxAG8-o" />

    {{#if parent-title}}
      <title>Truffle Suite | {{ parent-title }} | {{ title }}</title>
    {{else}}
      <title>Truffle Suite | {{ title }}</title>
    {{/if}}

    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans|Oswald|Varela+Round|Roboto+Condensed|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    {{> ga-tag-body}}
    
    {{> navbar}}

  <main class="container container-heading">
    <div class="row">
      <div class="col">
        <h1>Truffle Staff</h1>
      </div>
    </div>
  </main>

  <main class="banner banner-light-cream pt-5 pb-5">
    <div class="container" role="main">
      <div class="row mb-5">
        {{#each staff}}
          <div class="col-xs-12 col-md-6 col-lg-3 iso-item official">
            <div class="flipcardbox">
              <div class="flipcard flipcard-staff mb-2">
                <div class="front">
                  <div class="circle-image-container rounded-circle">
                    <img class="img-fluid" src="{{this.headshot}}" alt="{{this.name}}" />
                  </div>
                </div>
                <div class="back">
                  <div class="circle-image-container rounded-circle">
                    <img class="img-fluid" src="{{this.headshot2}}" alt="{{this.name}}" />
                  </div>
                </div>
              </div>
            </div>
            <h3>{{this.name}}</h3>
            <p>{{this.position}}</p>
            {{#if this.twitter}}
              <p class="mb-0"><a href="https://twitter.com/{{this.twitter}}"><i class="fab fa-twitter-square"></i>&nbsp;&nbsp;@{{this.twitter}}</a></p>
            {{/if}}
            {{#if this.linkedin}}
              <p class="mb-0"><a href="https://linkedin.com/in/{{this.linkedin}}"><i class="fab fa-linkedin"></i>&nbsp;&nbsp;{{this.linkedin}}</a></p>
            {{/if}}
            {{#if this.github}}
              <p class="mb-0"><a href="https://github.com/{{this.github}}"><i class="fab fa-github"></i>&nbsp;&nbsp;{{this.github}}</a></p>
            {{/if}}
            {{#if this.fb}}
              <p class="mb-0"><a href="https://facebook.com/{{this.fb}}"><i class="fab fa-facebook-square"></i>&nbsp;&nbsp;{{this.fb}}</a></p>
            {{/if}}
            {{#if this.ig}}
              <p class="mb-0"><a href="https://instagram.com/{{this.ig}}"><i class="fab fa-instagram"></i>&nbsp;&nbsp;{{this.ig}}</a></p>
            {{/if}}
            {{#if this.email}}
              <p class="mb-5"><a href="mailto:{{this.email}}@trufflesuite.com" class="text-break"><i class="fas fa-envelope d-inline"></i>&nbsp;&nbsp;{{this.email}}@trufflesuite.com</a></p>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  </main>

  {{> footer}}

  <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery-3.2.1.slim.min.js"><\/script>')</script>-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script src="/js/vendor/octokit-rest.min.js"></script>
  <script src="/js/boxes.js"></script>
</body>
</html>
